<div fxLayout="column" class="page-layout">

  <div fxLayout="column" class="search-box" [formGroup]="userName">
    <h1 class="title">Search Github Users</h1>
    <mat-hint>Enter a username to fetch a user profile and repos.</mat-hint>
    <mat-form-field appearance="outline">
      <mat-label>Search username....</mat-label>
      <input formControlName="name" type="text" (keyup)="display()" matInput>
    </mat-form-field>

  </div>

  <div class="profile-data">

    <div fxLayout="column" fxLayout.sm="column" fxLayout.md="column" fxLayout.xs="column" fxLayoutAlign="center center" class="search-box profile-details" *ngIf="userInfo">

      <div class="user-information">
        <div class="display-picture">
          <img class="dp" [src]="userInfo.avatar_url" alt="">
        </div>
        <button  class="view-profile" mat-icon-button matTooltip="View Profile">

          <a [href]="userInfo.html_url" fxLayoutAlign="center center">
            <img class="view-profile__icon" src="assets/github.png" alt="">
          </a>
        </button>
      </div>

      <div fxLayout="column" fxLayoutAlign="start start"  class="user-bio-info">

        <div class="bio-info">
          Name: {{userInfo.name}}
        </div>

        <div class="bio-info">
          Company: {{userInfo.company}}
        </div>

        <div class="bio-info">
          Email: {{userInfo.email}}
        </div>

        <div class="bio-info">
          Bio: {{userInfo.bio}}
        </div>

        <div class="bio-info">
          Location: {{userInfo.location}}
        </div>

        <div class="bio-info">
          Member Since: {{userInfo.created_at | date}}
        </div>

        <div class="repos" fxLayout="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.xs="column">
          <div>Public Repository: {{userInfo.public_repos}}</div>
          <div>Public Gists: {{userInfo.public_gists}}</div>
          <div>Followers: {{userInfo.followers}}</div>
          <div>Following: {{userInfo.following}}</div>
        </div>

      </div>
      <!-- <pre>{{userInfo | json}}</pre> -->

    </div>

  </div>

  <div class="search-box repos-menu" *ngIf="userInfo">
    <!-- <mat-button-toggle-group fxLayout="row" fxLayoutAlign="center">
      <mat-button-toggle value="repos">Repositories</mat-button-toggle>
      <mat-button-toggle value="gists">Gists</mat-button-toggle>
      <mat-button-toggle value="subscription">Subscriptions</mat-button-toggle>
    </mat-button-toggle-group> -->

    <!-- <pre>{{userRepos|json}}</pre> -->

    <div class="reposTitle">
      <div >
        Repositories
      </div>
    </div>

    <div class="list-repo" fxLayout="row"  fxLayoutAlign="start" fxLayoutWrap >
      <!-- <pre>{{userRepos[0] | json}}</pre> -->
      <ng-container *ngFor="let repos of userRepos; index as i">

        <mat-card fxLayout="column" class="repos-card">
          <!-- card -->
          <div class="repos-info" fxLayout="column" fxLayoutrAlign="space-between">
            <div class="information">
              <h3>Name: {{repos.name}}</h3>
              <h3>Description: {{repos.description}}</h3>
              <h3>Created at: {{repos.created_at | date}}</h3>
              <h3>Updated at: {{repos.updated_at | date}}</h3>
              <h3>Forks: {{repos.forks}}</h3>
              <h3>Visibility: {{repos.visibility}}</h3>
            </div>

            <!-- <h3>Comments: {{repoComments[0].length}}</h3> -->
            <div class="view-button" fxLayoutAlign="center center">
              <a [href]="repos.html_url">
                <button mat-raised-button matTooltip="View repository">
                  <div >View Repository</div>
                </button>
              </a>
            </div>
            <!-- <br> -->
          </div>

        </mat-card>

      </ng-container>


      <!-- {{i}} - > -->

      <!-- <pre>{{item | json}}</h3re> -->
    </div>

  </div>

</div>
