.page-layout {

  .search-box {
    // background-color: #f3f3f3;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid accent;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  }


  .profile-data {
    .profile-details {
      .user-information {

        .display-picture {
          margin-right: 30px;
          height: 150px;
          width: 150px;
          border-radius: 50%;
          .dp {
            height: 150px;
            width: 150px;
            object-fit: cover;
            border-radius: 50%;
          }
        }

        .view-profile {

          &__icon{
            height: 30px;
            width: 30px;
          }
        }

      }
    }


    .user-bio-info {
      font-size: 18px;
      .bio-info {
        margin-bottom: 10px;
      }

      .repos {
        margin-top: 10px;
        div {
          border-radius: 5px;
          padding: 12px;
          background-color: #43B6C2;
          margin-right: 15px;
          margin-bottom: 15px;
        }
      }
    }

  }

  .repos-menu {

    .reposTitle {
      margin-bottom: 20px;
      height: 40px;
      // background-color: #D9DADF;
      background: rgb(217,218,223);
      background: linear-gradient(90deg, rgba(217,218,223,1) 0%, rgba(217,218,223,1) 30%, rgba(255,255,255,1) 79%);
      // border: 1px solid red;
      display: flex;
      align-items: center;

      div {
        // height: 40px;
        margin-left: 20px;
        // border: 1px solid black;
        // text-align: center;
        display: flex;
        font-size: 20px;

      }
    }

    .list-repo {
      // width: 100%;
      // overflow-x: scroll;
      border-radius: 5px;
      -webkit-flex-wrap: wrap;
      // padding: 0;

      // border: 1px solid red;
      // display: flex;
      // justify-content: space-around;
      .repos-card {
        display: inline-block;
        // padding: 0;
        // flex-wrap: wrap;
        margin-left: 0.5%;
        margin-right: 0.5%;
        margin-bottom: 20px;
        width: 24%;
        height: 350px;
        // display: flex ;
        background-color: #F3F3F5;

        .repos-info {
          display: flex;
          justify-content: space-between;
          // border: 1px solid red;
          height: 100%;
          .information {
            // white-space: nowrap;
            padding: 10px;
            overflow: hidden;
            width: 100%;
            // border: 1px solid black;
            h3 {
              margin: 0;
              text-overflow: ellipsis;
              text-align: center;
              // text-overflow:
            }
          }
        }

        .view-button {
          a {
            button {
              background-color: #43B6C2;
            }
          }
        }
      }

      mat-card:hover {
        box-shadow: 0 0 11px rgba(33,33,33,.2);
      }

    }
  }


}



